#footer{
    margin: 1rem 0;
    text-align: center;
}

.contact-pg{
    display: flex;
    justify-content: center;
}
.contact-pg a{
    text-decoration: none;
    color: #fff;
}
.contact-pg i{
    color: #4e5d78;
    font-size: 25px;
    margin: 3rem 0.5rem;
    margin-bottom: 1rem;
}
.contact-pg i:hover{
    transform: scale(1.5);
    color: #3763f4;
}